@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";

@theme {
  --font-display: "Poppins";
  --default-font-family: var(--font-display);
  --color-primary-100: #f3ebff;
  --color-primary-200: #8b32ff;
  --color-primary-300: #961200;
  --color-primary-400: #160131;
  --color-neutral-25: #0a0d12;
  --color-neutral-400: #a4a7ae;
  --color-neutral-600: #535862;
  --color-neutral-900: #181d27;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  padding: 0;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 16px !important;
  margin: 0 auto !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

body {
  margin: 0;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.animate-enter {
  animation: enter 0.25s ease-out forwards;
}

.animate-leave {
  animation: leave 0.2s ease-in forwards;
}
/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
